*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:linear-gradient(#02020d,#040822,#010101);

overflow:hidden;

height:100vh;

display:flex;
justify-content:center;
align-items:center;

font-family:Orbitron,sans-serif;

color:white;

}

.container{

text-align:center;
z-index:5;

}

h1{

font-size:60px;

letter-spacing:8px;

margin-bottom:25px;

color:#8cff84;

text-shadow:
0 0 10px #5cff6f,
0 0 30px #5cff6f;

}

.quote{

margin-top:25px;

font-size:18px;

opacity:.8;

}

.grogu{

position:relative;

width:250px;

margin:auto;

}

.head{

width:180px;

height:160px;

background:#7cab6f;

margin:auto;

border-radius:55%;

position:relative;

z-index:5;

box-shadow:
0 0 40px rgba(100,255,120,.2);

}

.ear{

position:absolute;

width:120px;

height:45px;

background:#7cab6f;

top:65px;

border-radius:100px;

z-index:1;

}

.left{

left:-70px;

transform:rotate(-10deg);

}

.right{

right:-70px;

transform:rotate(10deg);

}

.eyes{

display:flex;

justify-content:space-around;

padding-top:55px;

}

.eye{

width:38px;

height:48px;

background:black;

border-radius:50%;

position:relative;

}

.eye::after{

content:"";

position:absolute;

width:12px;

height:12px;

background:white;

border-radius:50%;

left:8px;

top:8px;

}

.mouth{

width:40px;

height:8px;

border-bottom:3px solid #333;

margin:20px auto;

border-radius:50%;

}

.robe{

width:200px;

height:140px;

background:#9d7b54;

margin:auto;

margin-top:-15px;

border-radius:20px 20px 80px 80px;

}

button{

margin-top:30px;

padding:15px 35px;

font-size:18px;

background:#65ff7a;

color:#001;

border:none;

border-radius:40px;

cursor:pointer;

transition:.3s;

font-family:Orbitron;

}

button:hover{

transform:scale(1.1);

box-shadow:0 0 20px #65ff7a;

}

#forceText{

margin-top:30px;

font-size:26px;

color:#7eff7e;

text-shadow:0 0 20px #5cff5c;

min-height:40px;

}

.star{

position:absolute;

background:white;

border-radius:50%;

animation:blink infinite alternate;

}

@keyframes blink{

from{opacity:.2;}
to{opacity:1;}

}

.force{

animation:force .8s infinite alternate;

}

@keyframes force{

from{

transform:translateY(0px);

}

to{

transform:translateY(-15px);

}

}
